body {
    min-height: 2000px;
    padding-top: 70px;
    position: relative;
}

.section{
    padding-top:70px;
}

#aboutme{
    background: #ffffff;
}

#tech{
    background: #111;
    color:white;
    padding: 0 10px 20px 20px;
}


#certs{
    background: #ffffff;
}


.fa-2 {
    font-size: 2em;
}



.section{
    font-size:16pt;
}

.cert-wrapper .title{
    font-size: 20px;
    font-weight: bold;
}

.cert-wrapper .from{
    font-size: 18px;
}

.cert-wrapper .date{
    font-size: 16px;
    color: rgb(153, 153, 153);
}